@import url(https://fonts.googleapis.com/css?family=Inconsolata:200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Karla:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    
}
h1 {
    color: white;
}
p {
    color: white;
}
@media screen and (min-width: 1024px) {
    .burger-checkbox {
        position: absolute;
        visibility: hidden;
      }
body {
    background-color: black;
}
.header_wrapper {
    display: flex;
    justify-content: center;
}
.sasha_img {
    width: 140px;
    height: 140px;
    margin-top: 10px;
    border: 2px solid white;
    box-shadow: 1px 1px 20px 1px #9d9c9c;
    border: 0.1px solid #ffffff;
}
.sasha_name {
    color: white;
    font-family: inconsolata;
    margin-left: 40px;
    margin-top: 20px;
}
.sasha_v {
    color: white;
    font-family: inconsolata;
    text-align: center;
    border-bottom: 1px solid white;
}
.navigation {
    display: flex;
    justify-content: center;
}
.links {
    display: flex;
    margin-top: 40px;
    list-style-type: none;
}
.link {
    margin-right: 30px;
}
.nav_links {
    color: white;
    font-family: karla;
    font-size: 24px;
}
.nav_links:hover {
    text-shadow: 1px -10px 2px rgb(0, 0, 0), 0 0 1em rgb(255, 255, 255);
    border: 0px;
    color: rgb(127, 127, 127);
}
.animated-text {
    position: relative;
    display: inline-block;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
  }
  .animated-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
  }
  .animated-text:hover::after {
    width: 100%;
  }
  .main_title {
    text-align: center;
    margin-top: 80px;
    font-size: 24px;
    font-family: karla;
    text-shadow: 1px 8px 1px rgba(255, 0, 0, 0.259);
    margin-bottom: 80px;
  }
  .main_wrapper {
    display: flex;
    justify-content: space-around;
  }
  .main_photo {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
  }
  .main_photo:hover {
    opacity: 0.8;
    transition: opacity 200ms linear;
  }
  .content {
    margin-right: 5px;
  }
  .content1 {
    margin-right: 5px;
    margin-left: 5px;
  }
  .content2 {
    margin-right: 5px;
  }
  .main_text {
    text-align: center;
    font-family: inconsolata;
    margin-top: 10px;
    font-size: 24px;
    margin-bottom: 20px;
  }




  .footer_wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.footer_links {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
svg {
  width: 36px;
  height: 36px;
  
}
use {
    width: 36px;
    height: 36px;
}
.footer_contact {
    color: white;
    text-align: center;
    font-family: inconsolata;
    font-size: 24px;
    margin-right: 10px;
    margin-top: 80px;
    text-shadow: 1px 10px 2px black, 0 0 5px rgb(218, 213, 213);
    border: 0px;
    margin-bottom: 20px;
    border-top: 1px solid white;
}
.i1 {
    margin-right: 20px;
}
.i1:hover {
    stroke: blue;
}
.i2 {
    margin-right: 10px;
}
.i2:hover {
    stroke: rgb(238, 2, 179);
}
.i3:hover {
    stroke: rgb(253, 1, 1);
}
.fi {
    width: 48px;
    height: 48px;

}
.footer_link {
    height: 36px;
}














 html, #app {
  margin: 0;
  width: 100%;
  height: 100%;
}

#app {
  overflow: hidden;
  touch-action: pan-up;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}

#app h1 {
  --fontSize: 60px;
  --lineHeight: 80px;
  width: auto;
  height: calc(2 * var(--lineHeight));
  line-height: var(--lineHeight);
  margin: calc(50vh - var(--lineHeight)) auto 0;
  font-size: var(--fontSize);
}

#app a {
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

#app canvas {
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
}











.video-thumbnail {
  
  cursor: pointer;
 
}
/* Стиль для модального фона */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
/* Стиль для модального контента */
.modal-content {
  position: relative;
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
}
/* Кнопка закрытия */
.close {
  position: absolute;
  top: 10px;
  left: 47%;
  font-size: 36px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.868);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.556);
  border-radius: 200px;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-top: 10px;
  padding-top: 3px;
  animation-name: Appearance;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(.1,-.6,.2,0);
}
.close:hover {
  background-color: rgba(0, 0, 0, 0.744);
  color: white;
}
@-webkit-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/* YouTube iframe */
iframe {
  width: 100%;
  height: 450px;
 
}

}



@media screen and (max-width: 1010px) {
    body {
        background-color: black;
    }
    .header_wrapper {
        display: flex;
        justify-content: center;
    }
    .sasha_img {
        width: 140px;
        height: 140px;
        margin-top: 10px;
        border: 2px solid white;
        box-shadow: 1px 1px 20px 1px #9d9c9c;
        border: 0.1px solid #ffffff;
    }
    .sasha_name {
        color: white;
        font-family: inconsolata;
        margin-left: 40px;
        margin-top: 20px;
    }
    .sasha_v {
        color: white;
        font-family: inconsolata;
    text-align: center;
    border-bottom: 1px solid white;
    }
    .navigation {
        display: flex;
        justify-content: center;
    }
    .links {
        display: flex;
        margin-top: 40px;
        list-style-type: none;
    }
    .link {
        margin-right: 30px;
    }
    .nav_links {
        color: white;
        font-family: karla;
        font-size: 24px;
    }
    .nav_links:hover {
        text-shadow: 1px -10px 2px rgb(0, 0, 0), 0 0 1em rgb(255, 255, 255);
        border: 0px;
        color: rgb(127, 127, 127);
    }

    .burger-checkbox {
        position: absolute;
        visibility: hidden;
      }
      .burger {
        position: relative;
        z-index: 1;
        cursor: pointer;
        display: block;
        position: relative;
        border: none;
        background: transparent;
        width: 40px;
        height: 26px;
        margin-top: 10px;
        
      }
      .burger::before,
      .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #ffffff;
      }
     
      .burger::before {
        top: 0;
        box-shadow: 0 11px 0 #ffffff;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
      }
      .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
      }
      .burger-checkbox:checked + .burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 #000000;
        transition: box-shadow .15s, top .3s, transform .3s .15s;
      }
      .burger-checkbox:checked + .burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
      }
      .navigation_links {
        top: 0;
        left: 0;
        position: absolute;
        display: grid;
        gap: 12px;
        padding: 42px 0;
        margin: 0;
        background: rgb(0, 0, 0);
        list-style-type: none;
        transform: translateX(-140%);
        transition: .3s;
        width: 100%;
        height: 50%;
       
        
    
      }
      .nav_item {
        display: block;
        padding: 8px;
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
      }
      .nav_item:hover {
        background: #2195f312;
        color: black;
      }
      .burger-checkbox:checked ~ .navigation_links {
        transform: translateX(0);
      }
    .nav_links {
        color: rgb(255, 255, 255);
        margin-left: 20px;
    }
    .footer_wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .footer_links {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }
    svg {
      width: 36px;
      height: 36px;
      
    }
    use {
        width: 36px;
        height: 36px;
    }
    .footer_contact {
        color: white;
        text-align: center;
        font-family: inconsolata;
        font-size: 24px;
        margin-right: 10px;
        margin-top: 80px;
        text-shadow: 1px 10px 2px black, 0 0 5px rgb(218, 213, 213);
        border: 0px;
        margin-bottom: 20px;
        border-top: 1px solid white;
        
    }
    .i1 {
        margin-right: 20px;
    }
    .i1:hover {
        stroke: blue;
    }
    .i2 {
        margin-right: 10px;
    }
    .i2:hover {
        stroke: rgb(238, 2, 179);
    }
    .i3:hover {
        stroke: rgb(253, 1, 1);
    }
    .fi {
        width: 48px;
        height: 48px;
    
    }
    .footer_link {
        height: 36px;
    }





    .animated-text {
        position: relative;
        display: inline-block;
        font-size: 24px;
        color: #fff;
        text-decoration: none;
      }
      .animated-text::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #fff;
        transition: width 0.3s ease-in-out;
      }
      .animated-text:hover::after {
        width: 100%;
      }
      .main_title {
        text-align: center;
        margin-top: 80px;
        font-size: 24px;
        font-family: karla;
        text-shadow: 1px 8px 1px rgba(255, 0, 0, 0.259);
        margin-bottom: 80px;
      }
      
      .main_photo {
        width: 100%;
        max-width: 300px;
        border-radius: 10px;
      }
      .main_photo:hover {
        opacity: 0.8;
        transition: opacity 200ms linear;
      }
      .content {
        margin-right: 5px;
      }
      .content1 {
        margin-right: 5px;
        margin-left: 5px;
      }
      .content2 {
        margin-right: 5px;
      }
      .main_text {
        text-align: center;
        font-family: inconsolata;
        margin-top: 10px;
        font-size: 24px;
      }
      .main_wrapper {
        text-align: center;

      }
      










      .video-thumbnail {
  
        cursor: pointer;
       
      }
      /* Стиль для модального фона */
      .modal {
        display: none; /* Скрыто по умолчанию */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;
        justify-content: center;
        align-items: center;
      }
      /* Стиль для модального контента */
      .modal-content {
        position: relative;
        width: 80%;
        max-width: 800px;
        background-color: #fff;
        padding: 10px;
        border-radius: 8px;
        overflow: hidden;
      }
      /* Кнопка закрытия */
      .close {
        position: absolute;
        top: 10px;
        left: 47%;
        font-size: 36px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.556);
        border-radius: 200px;
        width: 50px;
        height: 50px;
        text-align: center;
        margin-top: 10px;
        padding-top: 3px;
        animation-name: Appearance;
        animation-duration: 2s;
        animation-timing-function: cubic-bezier(.1,-.6,.2,0);
      }
      .close:hover {
        background-color: rgba(0, 0, 0, 0.744);
        color: white;
      }
      @-webkit-keyframes Appearance {
        0% {opacity: 0;}
        100% {opacity: 1;}
      }
      
      @-o-keyframes Appearance {
        0% {opacity: 0;}
        100% {opacity: 1;}
      }
      
      @-moz-keyframes Appearance {
        0% {opacity: 0;}
        100% {opacity: 1;}
      }
      
      @keyframes Appearance {
        0% {opacity: 0;}
        100% {opacity: 1;}
      }
      /* YouTube iframe */
      iframe {
        width: 100%;
        height: 450px;
       
      }
      
      
}